<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Titanic Prediction</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <link href="{{ url_for('static', filename='img/favicon.png')}}" rel="icon">
    <link href="{{ url_for('static', filename='img/apple-touch-icon.png')}}" rel="apple-touch-icon">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i"
          rel="stylesheet">

    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet"
          type="text/css">
    <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet"
          type="text/css">
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css">

</head>

<body>

<header id="header">
    <div class="container-fluid">

        <div class="logo float-left">
        </div>

        <button type="button" class="nav-toggle"><i class="bx bx-menu"></i></button>
        <nav class="nav-menu">
            <ul>
                <li class="active"><a href="#header">Predictor</a></li>
                <li><a href="#about">About Us</a></li>
            </ul>
        </nav>

    </div>
</header>

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <h1>Welcome to our predictor</h1>
        <h2>Predict the probability of survival if You were on Titanic!!</h2>

        <form action="/predict" method="post" role="form" class="php-email-form">
            <div class="row mx-auto">
                <div class="col-lg-4 col-md-12 form-group pr-md-1">
                    <input type="text" name="Age" class="form-control" id="first_name" placeholder="Your Age"
                           data-rule="minlen:1" data-msg="Please enter valid age in integers"/>
                    <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-12 form-group pl-md-1">
                    <input type="text" class="form-control" name="Fare" id="last_name"
                           placeholder="Fare (range from $0 to $500)" data-rule="minlen:1"
                           data-msg="Please enter a valid Fare in dollars"/>
                    <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-12 form-group pl-md-1">
                    <input type="text" class="form-control" name="Gender" id="_name"
                           placeholder="1 for Male and 0 for any other" data-rule="minlen:1"
                           data-msg="Please enter a valid number"/>
                    <div class="validate"></div>
                </div>
            </div>


            <div class="mb-1">
                <div class="loading">Loading</div>
                <div class="sent-message"><p><br>Result is: {{ pred }} <br></p></div>
            </div>
            <div class="text-center">
                <button type="submit">Predict!</button>
            </div>
                <p>Result is: <br>{{pred}}<br></p>
        </form>
    </div>
</section><!-- #hero -->

<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row">
                <!-- <div class="col-lg-6">
                  <img src="/img/about-img.jpg" class="img-fluid" alt="">
                </div> -->
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
                    <p class="font-italic">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore
                        magna aliqua.
                    </p>

                    <p>
                        Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
</main>

{{ pred }}
<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Matrix</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Made with &hearts; by Sanjeev &
            Designed with &hearts; by Prasoon
        </div>
    </div>
</footer><!-- End #footer -->

<!-- Vendor JS Files -->

<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<script src="{{ url_for('static', filename='vendor/jquery.easing/jquery.easing.min.js')}}"></script>
<script src="{{ url_for('static', filename='vendor/php-email-form/validate.js')}}"></script>

<!-- Template Main JS File -->
<script src="{{ url_for('static', filename='js/main.js')}}"></script>

</body>

</html>